<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>JSP Example Application</display-name>

	<servlet>
		<servlet-name>jndiservlet</servlet-name>
		<servlet-class>com.javacodegeeks.snippets.enterprise.jettyjndi.JndiExampleServlet</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>jndiservlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<res-ref-name>jdbc/jcgDS</res-ref-name>
		<res-type>org.h2.jdbcx.JdbcDataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>